.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sociales{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    margin-top: 20px;
    gap: 30px;
    
}
.social-icon{
    color: rgb(147, 153, 158);
}
.social-icon:hover{
    color: rgb(255, 255, 255);
    transition: .5s;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
.html{
    color: rgb(147, 153, 158);
}
.html:hover{
    color: rgb(213, 56, 3);
    transition: .5s;
}
.css{
    color: rgb(147, 153, 158);
}
.css:hover{
    color: rgb(1, 79, 225);
    transition: .5s;
}
.js{
    color: rgb(147, 153, 158);
    
}
.js:hover{
    color: rgb(225, 210, 1);
    transition: .5s;
}
.react{
    color: rgb(147, 153, 158);
}
.react:hover{
    color: rgb(6, 172, 249);
    transition: .5s;
}
.git{
    color: rgb(147, 153, 158);
}
.git:hover{
    color: rgb(249, 140, 6);
    transition: .5s;
}
.wordpress{
    color: rgb(147, 153, 158);
}
.wordpress:hover{
    color: rgb(250, 249, 249);
    transition: .5s;
}
@media (max-width: 1280px){
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .sociales{
        margin-top:0;
        margin-left: 10px;
        margin-bottom: 0px;
        padding: 0;
        gap: 10px;
    }
    .skills{
        margin-top:0;
        margin-right: 10px;
        margin-bottom: 0px;
        padding: 0;
        gap: 10px;
    }
}
